<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
	   <add key="Carti" value="C:\Users\Miriam\source\repos\Using_SqlDataAdapter_Dataset\carti.txt"/>
	</appSettings>
	<connectionStrings>
			<clear/>
			<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
				 AttachDbFilename=C:\Users\Miriam\source\repos\Using_SqlDataAdapter_Dataset\Carti.mdf;
				 Integrated Security=True"/>
		</connectionStrings>
</configuration>